<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spotify API</title>
  <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>
<body>
  <button onclick="window.location.href='/login'">Go to Login</button>
</body>
</html>