<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recently Liked Songs</title>
</head>
<body>
    <h1>Recently Liked Songs</h1>
    {{!-- <ul>
        {{#each tracks}}
        <li>
            {{this.name}} by {{#each this.artists}}{{this.name}}{{#unless @last}}, {{/unless}}{{/each}}
        </li>
        {{/each}}
    </ul> --}}
</body>
</html>
